export default {
  template: 'wizard',
  steps: [
    {
      form: 'wizard',
      props: (form) => {
        return {
          title: 'Destroy <%- _.capitalize(modelName) %>',
          subtitle: 'Submit this form to destroy the <%- modelName %>',
          stepper: {
            stepIndex: 0,
            steps: [
              'Submit Form'
            ]
          }
        }
      },
      validators: function(data) {
        return {
<% Object.keys(attributes).forEach(function(attribute, index) { %><%- include('partials/validator.wizard', { attribute: attribute, last: (index + 1) === Object.keys(attributes).length }) %><% }); %>
        };
      },
      fields: {
<% Object.keys(attributes).forEach(function(key, index) { %><%- include('partials/field.wizard', { key: key, attribute: attributes[key], last: (index + 1) === Object.keys(attributes).length }) %><% }); %>
      },
      actions: [
        {
          type: 'raised',
          props: (form) => {
            return {
              label: "Destroy",
              primary: true,
              disabled: form.hasError,
              onTouchTap: () => {
                form.callbacks.onNext(form.data)
              }
            }
          }
        }
      ]
    },
    {
      form: 'request',
      props: (form) => {
        return {
          request: (data) => {
            return lore.actions.<%- modelName %>.destroy(form.model).payload;
          },
          reducer: '<%- modelName %>',
          onSuccess: form.callbacks.onRequestSuccess,
          onError: form.callbacks.onRequestError
        }
      }
    },
    {
      form: 'custom',
      props: {
        render: (form) => {
          return (
            <div>
              <%- _.capitalize(modelName) %> destroyed!
            </div>
          );
        }
      }
    }
  ]
};
